.my-autocomplete {
	position: relative;
	width: 100%;
}

.my-autocomplete-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1000;
}