.ion-place-tools-autocomplete {
	position: relative;
	width: 100%;
	overflow: visible;
}
	.ion-place-tools-autocomplete input {
		width: 100%;
	}

.ion-place-tools-autocomplete-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1000;
}